* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(239, 239, 239);
    
}

.header {
    position: relative;
    flex: 1;
    margin-left: 200px;
    margin-top: 250px;
    width: 300px;
    right: 0px;
    left: 130px;
    
}

h1 {
    color: rgb(58, 58, 243);
    font-size: 50px;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 20px;
}

.log-in {
    width: 100px;
    margin-left: 750px;
    position: absolute;
    bottom: 140px;
    
}
form {
    display: block;
    flex-wrap: wrap;
    background-color: white;
    width: 320px;
    height: 300px;
    padding: 35px;
    border-radius: 10px;

}

#username {
    margin-bottom: 10px;
    margin-right: ;
    width: 250px;
    height: 35px;
    border-color: rgb(240, 240, 240);
    border-radius: 5px;
}
#password {
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    border-color: rgb(240, 240, 240);
    border-radius: 5px;
}
#login {
    width: 250px;
    height: 35px;
    background-color: rgb(55, 55, 255);
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: rgb(55, 55, 255);
}
#forgot {
    margin-left: 80px;
    text-decoration: none;
    margin-top: 10px;
}
.new-account {
    margin-top: 40px;
    width: 160px;
    height: 40px;
    margin-left: 50px;
    background-color: rgb(13, 177, 38);
    color: azure;
    border-radius: 5px;
    border-color: rgb(13, 177, 38);
    font-weight: 200;
}